<link
  href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap"
  rel="stylesheet">
<!-- hero.component.html -->
<section class="hero-container">

  <!-- Imagen de fondo -->
  <div
    class="hero-background"
    [style.background-image]="'url(assets/heroimages/hero-1.jpeg)'">
  </div>

  <!-- Overlay -->
  <div class="hero-overlay"></div>

  <!-- Contenido -->
  <div class="hero-content">

    <div class="flex flex-col md:flex-row items-center gap-8">

      <!-- Logo -->
      <img
        src="assets/logos/sionlarge.png"
        alt="Logo"
        class="hero-logo">

      <!-- Texto -->
      <div>
        <h1 class="hero-title">
          Building your vision
        </h1>

        <h1 class="hero-subtitle">
          Solid foundations for your projects
        </h1>
      </div>

    </div>

    <!-- Botón -->
    <button
      (click)="scrollToServices()"
      class="hero-button">
      OUR SERVICES
    </button>

  </div>

</section>