<section>

  <div class="slide">
            <div class="slide-inner">
                <input class="slide-open" type="radio" id="slide-1" 
                      name="slide" aria-hidden="true" hidden="" checked="checked">
                <div class="slide-item">
                    <img src="assets/heroimages/hero-1.jpeg">
                </div>
                <input class="slide-open" type="radio" id="slide-2" 
                      name="slide" aria-hidden="true" hidden="">
                <div class="slide-item">
                    <img src="assets/heroimages/hero-2.jpeg">
                </div>
                <input class="slide-open" type="radio" id="slide-3" 
                      name="slide" aria-hidden="true" hidden="">
                <div class="slide-item">
                    <img src="assets/heroimages/hero-3.jpeg">
                </div>
                <div class="slide-item">
                    <img src="assets/heroimages/hero-4.jpeg">
                </div>
                <div class="slide-item">
                    <img src="assets/heroimages/hero-5.jpeg">
                </div>
                <label for="slide-3" class="slide-control prev control-1">‹</label>
                <label for="slide-2" class="slide-control next control-1">›</label>
                <label for="slide-1" class="slide-control prev control-2">‹</label>
                <label for="slide-3" class="slide-control next control-2">›</label>
                <label for="slide-2" class="slide-control prev control-3">‹</label>
                <label for="slide-1" class="slide-control next control-3">›</label>
                <label for="slide-2" class="slide-control prev control-4">‹</label>
                <label for="slide-1" class="slide-control next control-4">›</label>
                <label for="slide-2" class="slide-control prev control-5">‹</label>
                <label for="slide-1" class="slide-control next control-5">›</label>
                <ol class="slide-indicador">
                    <li>
                        <label for="slide-1" class="slide-circulo">•</label>
                    </li>
                    <li>
                        <label for="slide-2" class="slide-circulo">•</label>
                    </li>
                    <li>
                        <label for="slide-3" class="slide-circulo">•</label>
                    </li>
                    <li>
                        <label for="slide-4" class="slide-circulo">•</label>
                    </li>
                    <li>
                        <label for="slide-5" class="slide-circulo">•</label>
                    </li>
                </ol>
            </div>
        </div>
</section>